<!DOCTYPE html>
<html>
<head>
	<title>Postal Price</title>
</head>
<body>
	<h1>There was a problem with your input!</h1>

	<p> Mail Weight: <%= weight%> </p>
	<p> Weight is in ounces and cannot be more than 3.5 for letters and 13 for all other types.</p>

</body>
</html>