<!DOCTYPE html>
<html>
<head>
	<title>Postal Price</title>
</head>
<body>
	<h1>Total Price</h1>

	<p> Mail type: <%= type%> </p>
	<p> Mail Weight: <%= weight%> </p>
	<p> Price to ship: <%= sum%> dollar(s)</p>

</body>
</html>